@model IEnumerable<DataModelEntity.Entity.Direction>

@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-12">
    <div class="card card-header sameheight-item">
        <div class="card-header">
            <div class="header-block">
                <h3 class="title">
                    <label class="nounderline">
                        <i class="fa fa-asl-interpreting"></i> Diraction
                    </label>
                </h3>
            </div>
           
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.DirectionId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.DirectionId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.DirectionId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>
</div>