@model DataModelEntity.Entity.HarvestPlan

@{
    ViewData["Title"] = "Delete";
}

<div class="col-12">
    <div class="card card-header sameheight-item">
       <h3>Siz ushbu o'quv rejani o'chirishni xoxlaysizmi? </h3>
            <div class="card-header">
                <dl class="row">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.GetDepartment.Name)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.GetDepartment.Name)
                    </dd>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.GetTeacher.FullName)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.GetTeacher.FullName)
                    </dd>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Grups.Name)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Grups.Name)
                    </dd>
                </dl>
            </div>
            <form asp-action="Delete">

                <a class="btn btn-primary" asp-action="Index" asp-controller="HarvestPlans" asp-route-id="@Model.HarvestPlanId" class="btn btn-primary">
                    <i class="fa fa-backward"></i>
                </a>
                <input type="hidden" asp-for="HarvestPlanId" />
                <input type="submit" value="Delete" class="btn btn-danger" /> 
            </form>
        </div>

    </div>

