@model IEnumerable<DataModelEntity.Entity.HarvestPlan>

@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-12">
    <div class="card card-header sameheight-item">
        <div class="card-header">
            <div class="header-block">
                <h3 class="title">
                    <label class="nounderline">
                        <i class="fa fa-pencil-square-o"></i> Training Plans
                    </label>
                </h3>
            </div>
            <form asp-action="Index" method="get" class="header-block pull-right">
                <div>
                    <label class="search">
                        <i class="fa fa-search search-icon"> </i>
                        <input type="text" class="search-input" name="SearchString" placeholder=" Search..." />
                        <a asp-action="Create" class="btn btn-primary">
                            <i class="fa fa-plus-square"></i>
                            Create
                        </a>
                    </label>
                </div>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Depatment)
                    </th>
                    <th>
                        Teacher name
                    </th>
                    <th>
                        SubjectCode
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grups)
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Depatment)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GetTeacher.TeacherId)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.Grups.GrupId)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.HarvestPlanId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.HarvestPlanId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.HarvestPlanId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
</div>
