@model DataModelEntity.Entity.Department

@{
    ViewData["Title"] = "Create";
}

<div class="col-sm-12">
    <div class="card card-header sameheight-item">
        <a style="width:60px; height:30px" asp-action="Create" asp-controller="Teachers" class="btn btn-primary">
            <i class="fa fa-backward"></i>
        </a>
        <h3>Yangi kafedira yaratish</h3>
        <div class="card-header">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <select asp-for="FacultetId" class="form-control" asp-items="ViewBag.FacultetName"></select>
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <a asp-controller="Facultets" asp-action="Create" class="btn btn-primary">
                                Yangi fakultet yaratish
                            </a> <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="table-active">
                        <th>
                            №
                        </th>
                        <th>
                            Kafedra nomi
                        </th>
                        <th>
                            Fakultet 
                        </th>
                        <th width="300">
                            Qo'shimcha imkoniyatlash
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.departments)
                    {
                        <tr class="table-hover">
                            <td>
                                @item.DepartmentId
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.GetFacultet.Name
                            </td>
                            <td>
                                <a class="fa fa-edit" asp-action="Edit" asp-route-id="@item.DepartmentId"> Tahrirlash</a> |
                                <a class="fa fa-close" asp-action="Delete" asp-route-id="@item.DepartmentId"> O'chirish</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
