@model IEnumerable<DataModelEntity.Entity.Department>

@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-12">
    <div class="card card-header sameheight-item">
        <a style="width:60px; height:30px" asp-action="Create" asp-controller="Teachers" class="btn btn-primary">
            <i class="fa fa-backward"></i>
        </a>
            <h3>Create departmen</h3>
            <div class="card-header">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Facultet name
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.GetFacultet.Name)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.DepartmentId">Edit</a> |
                                    <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                                    <a asp-action="Delete" asp-route-id="@item.DepartmentId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
</div>
</div>

