@model DataModelEntity.Entity.Subject

@{
    ViewData["Title"] = "Details";
}

<div class="col-12">
    <div class="card card-block sameheight-item align-items-center">
        <h3>Fan haqida ma'lumot</h3>
            <div class="card-header">
                <div >
                    <dl class="row" >
                        <dt class="col-12">
                            @Html.DisplayNameFor(model => model.SubjectCode)
                        </dt>
                        <dd class="col-12">
                            @Html.DisplayFor(model => model.SubjectCode)
                        </dd>
                        <dt class="col-12">
                            @Html.DisplayNameFor(model => model.Name)
                        </dt>
                        <dd class="col-12">
                            @Html.DisplayFor(model => model.Name)
                        </dd>

                    </dl>

                    <div>
                        <div>
                            <label>Dars soatlar taqsimoti</label>
                            <table class="table">
                                <thead>
                                    <tr class="table-active">

                                        <td>
                                            <label asp-for="Lecture" class="control-label"></label>
                                        </td>
                                        <td>
                                            <label asp-for="Practical" class="control-label"></label>
                                        </td>
                                        <td>
                                            <label asp-for="Laboratory" class="control-label"></label>
                                        </td>
                                        <td>
                                            <label asp-for="Seminar" class="control-label"></label>
                                        </td>
                                        <td>
                                            <label asp-for="CourseWork" class="control-label"></label>
                                        </td>
                                        <td>
                                            <label asp-for="IndependentEducation" class="control-label"></label>
                                        </td>
                                    </tr>
                                    <tr class="table">

                                        <td>
                                            @Html.DisplayFor(model => model.Lecture)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Practical)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Laboratory)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Seminar)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.CourseWork)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.IndependentEducation)
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>


                        <div class="form-group">
                            <label>Soatlarni kurs,semester va haftalar bo'yicha taqsimoti</label>
                            <table class="table">
                                <thead>
                                    <tr class="table-active">
                                        <td width="110">
                                        </td>
                                        <td>
                                            1-kurs
                                        </td>
                                        <td>
                                            2-kurs
                                        </td>
                                        <td>
                                            3-kurs
                                        </td>
                                        <td>
                                            4-kurs
                                        </td>
                                    </tr>
                                    <tr class="table-hover">
                                        <td>
                                            1-semester
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.OneOne)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.TwoOne)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ThreeTwo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.FourOne)
                                        </td>
                                    </tr>
                                    <tr class="table-hover">
                                        <td>
                                            2-semester
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.OneTwo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.TwoTwo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.ThreeTwo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.FourTwo)
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="form-group">
                            <label>Soatlarni kurs,semester va haftalar bo'yicha taqsimoti</label>
                            <table class="table">
                                <thead>
                                    <tr class="table-active">
                                        <td width="110">
                                        </td>
                                        <td>
                                            1-kurs
                                        </td>
                                        <td>
                                            2-kurs
                                        </td>
                                        <td>
                                            3-kurs
                                        </td>
                                        <td>
                                            4-kurs
                                        </td>
                                    </tr>
                                    <tr class="table-hover">
                                        <td>
                                            1-semester
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.KOneOne)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.KTwoOne)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.KThreeTwo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.KFourOne)
                                        </td>
                                    </tr>
                                    <tr class="table-hover">
                                        <td>
                                            2-semester
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.KOneTwo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.KTwoTwo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.KThreeTwo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.KFourTwo)
                                        </td>
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                    <div class="col-sm-10">
                        <a class="btn btn-primary" asp-action="Index" asp-controller="Subjects">
                            <i class="fa fa-backward"></i>
                            </a>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.SubjectId">Edit</a> |
                        <a class="btn btn-warning" asp-action="Delete" asp-route-id="@Model.SubjectId">Delete</a>
                    </div>
                </div>

            </div>
</div>
</div>