@model IEnumerable<DataModelEntity.Entity.Subject>

@{
    ViewData["Title"] = "Index";
}
<div class="col-sm-12">
    <div class="card card-header sameheight-item">
        <div class="card-header">
            <div class="header-block">
                <h3 class="title">
                    <label class="nounderline">
                        <i class="fa fa-pencil-square-o"></i> Fanlar
                    </label>
                </h3>
            </div>
            <form asp-action="Index" method="get" class="header-block pull-right">
                <div>
                    <label class="search">
                        <i class="fa fa-search search-icon"> </i>
                        <input type="text" class="search-input" name="SearchString" placeholder=" Search..." />
                        <a asp-action="Create" class="btn btn-primary">
                            <i class="fa fa-plus-square"></i>
                            Qo'shish
                        </a>
                    </label>
                </div>
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.SubjectCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        Fon bo'limi
                    </th>
                    
                    <th width="120"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubjectBlockType.Name)
                        </td>
                        <td>
                            <a asp-action="Details" class="fa fa-eyedropper" asp-route-id="@item.SubjectId"> Tahrirlash</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


